body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #007BFF;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 2px solid #007BFF;
    border-radius: 4px;
    width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#change-due {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#cash-drawer-display {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#price-screen {
    font-weight: bold;
}

p {
    margin: 5px 0;
}

strong {
    font-weight: bold;
}
footer {
    background-color: #1b1b1b;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    left:0;
    border-top: 1px solid #0056b3;
}
footer p {
    margin: 0;
    font-size: 14px;
}